{% extends 'base.html' %}
{% load static %}
{% block title %}HomePage{% endblock title %}

{% block banner-slider %}

<!-- Hero Section -->
<section id="hero" class="hero section light-background">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-8 text-center">
            <h2>Joy Inspired <span>Widows and Children</span> Foundation</h2>
            <p>To be a leading advocate for the welfare and empowerment of widows and children, ensuring they live dignified and fulfilling lives, provide holistic support to widows and children, empowering them to overcome poverty, inequality, and social injustice.</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <img src="{% static 'assets/img/pix/hero_img.jpg' %}" alt="">
      </div>

      <div class="carousel-item">
        <img src="{% static 'assets/img/pix/hero_img1.jpg' %}" alt="">
      </div>

      <div class="carousel-item">
        <img src="{% static 'assets/img/pix/hero_img2.jpg' %}" alt="">
      </div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

</section><!-- /Hero Section -->


{% endblock %}

{% block information %}

    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
            <div class="col-lg-6 2">
              <img src="{% static 'assets/img/pix/about_us.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 content">
              <h3>Joy Inspired Daily Objectives as follows</h3>
              <p class="fst-italic">
      
                To be a leading advocate for the welfare and empowerment of widows and children, ensuring they live dignified 
                and fulfilling lives.

              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> <span> We demonstrate empathy and kindness towards widows and children.</span></li>
                <li><i class="bi bi-check2-all"></i> <span> We operate with transparency, accountability, and honesty.</span></li>
                <li><i class="bi bi-check2-all"></i> <span> We value the dignity and worth of every widow and child. We strive to equip widows and children with the skills and resources they need to thrive.</span></li>
              </ul>
              <p>
            
                To provide holistic support to widows and children, empowering them to overcome poverty, inequality, and social
                injustice. We will establish a robust monitoring and evaluation framework to track our progress, assess our impact, and make data-driven decisions.

              </p>
            </div>
          </div>
  
        </div>
  
    </section><!-- /About Section -->
  
    <!-- Services Section -->
    <section id="services" class="services section">
  
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>We render a variety of services to our numerous beneficiaries</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex position-relative h-100">
                <i class="bi bi-briefcase icon flex-shrink-0"></i>
                <div>
                  <h4 class="title"><a href="service-details.html" class="stretched-link">Payment of School Fees for Widows' Children</a></h4>
                  <p class="description"> Provide educational support to children, ensuring they access quality education and break the cycle of poverty.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex position-relative h-100">
                <i class="bi bi-card-checklist icon flex-shrink-0"></i>
                <div>
                  <h4 class="title"><a href="service-details.html" class="stretched-link">Empowerment of Widows and Children</a></h4>
                  <p class="description">Equip widows and children with skills, knowledge, and resources to improve their economic and social well-being.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex position-relative h-100">
                <i class="bi bi-bar-chart icon flex-shrink-0"></i>
                <div>
                  <h4 class="title"><a href="service-details.html" class="stretched-link">Welfare for Widows and their Children</a></h4>
                  <p class="description">Provide emotional, psychological, and material support to widows and children, ensuring they receive the care and assistance they need.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex position-relative h-100">
                <i class="bi bi-binoculars icon flex-shrink-0"></i>
                <div>
                  <h4 class="title"><a href="service-details.html" class="stretched-link">Catering for Gender-based Violence Survivors</a></h4>
                  <p class="description">Offer specialized support services to survivors of gender-based violence, including counseling, medical care, and legal assistance.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
  
    </section><!-- /Services Section -->


    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 2,
                    "spaceBetween": 40
                  },
                  "480": {
                    "slidesPerView": 3,
                    "spaceBetween": 60
                  },
                  "640": {
                    "slidesPerView": 4,
                    "spaceBetween": 80
                  },
                  "992": {
                    "slidesPerView": 6,
                    "spaceBetween": 120
                  }
                }
              }
            </script>
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
  
    </section><!-- /Clients Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Projects</h2>
          <p>Review of our numerous projects embarked on successfully</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
  
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Palliatives Projects</li>
              <li data-filter=".filter-product">Community Projects</li>
              <li data-filter=".filter-branding">Competition Projects</li>
              <li data-filter=".filter-books">Religious Projects</li>
            </ul><!-- End Portfolio Filters -->
  
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <img src="{% static 'assets/img/pix/palliatives.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Palliatives Projects</h4>
                  <p>Distributing goods of neccessity</p>
                  <a href="{% static 'assets/img/pix/palliatives.jpg' %}" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <img src="{% static 'assets/img/pix/community.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Community Projects</h4>
                  <p>Bringing together different communities</p>
                  <a href="{% static 'assets/img/pix/community.jpg' %}" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <img src="{% static 'assets/img/pix/competition.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Competition Projects</h4>
                  <p>Learning teamwork through competition</p>
                  <a href="{% static 'assets/img/pix/competition.jpg' %}" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <img src="{% static 'assets/img/pix/religious.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Religious Projects</h4>
                  <p>Enlightening all souls</p>
                  <a href="{% static 'assets/img/pix/religious.jpg' %}" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <img src="{% static 'assets/img/pix/palliatives1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Palliatives Projects</h4>
                  <p>Distributing goods of neccessity</p>
                  <a href="{% static 'assets/img/pix/palliatives1.jpg' %}" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <img src="{% static 'assets/img/pix/community1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Community Projects</h4>
                  <p>Bringing together different communities</p>
                  <a href="{% static 'assets/img/pix/community1.jpg' %}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <img src="{% static 'assets/img/pix/competition1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Competition Projects</h4>
                  <p>Learning teamwork through competitions</p>
                  <a href="{% static 'assets/img/pix/competition1.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <img src="{% static 'assets/img/pix/religious1.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Religious Projects</h4>
                  <p>Enlightening all souls</p>
                  <a href="{% static 'assets/img/pix/religious1.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                <img src="{% static 'assets/img/pix/palliatives2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Palliatives Projects</h4>
                  <p>Distributing goods of neccessity</p>
                  <a href="{% static 'assets/img/pix/palliatives2.jpg' %}" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                <img src="{% static 'assets/img/pix/community2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Community Projects</h4>
                  <p>Bringing together different communities</p>
                  <a href="{% static 'assets/img/pix/community2.jpg' %}" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                <img src="{% static 'assets/img/pix/competition2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Competition Projects</h4>
                  <p>Learning teamwork through competitions</p>
                  <a href="{% static 'assets/img/pix/competition2.jpg' %}" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                <img src="{% static 'assets/img/pix/religious2.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Religious Projects</h4>
                  <p>Enlightening all souls</p>
                  <a href="{% static 'assets/img/pix/religious2.jpg' %}" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div><!-- End Portfolio Item -->
  
            </div><!-- End Portfolio Container -->
  
          </div>
  
        </div>
  
    </section><!-- /Portfolio Section -->


{% endblock %}

{% block main-content %}

  
    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

        <div class="container">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-9 text-center text-xl-start">
                    <h3>Call To Donate</h3>
                    <p>
                      We call on well meaning individuals to aid in making lives of those in need better through their donations that can impact positively in the lives of the widows and their children. 
                      Please make donations to the <span><strong>Firstbank Account.</strong></span>
                    </p>
                </div>
                <div class="col-xl-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#"><b>222222222</b></a>
                </div>
            </div>

        </div>

    </section><!-- /Call To Action Section -->



    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 2">
            <img src="{% static 'assets/img/pix/volunteer.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 content">
            <h3>Volunteers are Welcome at Joy Inspired Foundation</h3>
            <p class="fst-italic">
    
              Volunteers with joy inspired foundation are always appreciated within us and encouraged. Our Volunteers help provide holistic support to widows and children, empowering them to overcome poverty, inequality, and social
              injustice. We will establish a robust monitoring and evaluation framework to track our progress, assess our impact, and make data-driven decisions.
            </p>
            <!-- <ul>
              <li><i class="bi bi-check2-all"></i> <span> We demonstrate empathy and kindness towards widows and children.</span></li>
              <li><i class="bi bi-check2-all"></i> <span> We operate with transparency, accountability, and honesty.</span></li>
              <li><i class="bi bi-check2-all"></i> <span> We value the dignity and worth of every widow and child. We strive to equip widows and children with the skills and resources they need to thrive.</span></li>
            </ul> -->
            <p>
              Joy Inspired Foundation also provides training and capacity-building programs for our staff and volunteers, also volunteers engage with local 
              communities to raise awareness about our work and identify potential beneficiaries.
            </p>

            <div class="text-center"><a href="{% url 'volunteer_form' %}" class="buy-btn"><strong>Register as a Volunteer NOW!</strong></a></div>
          </div>
        </div>

      </div>

  </section><!-- /About Section -->

  

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                To be a leading advocate for the welfare and empowerment of widows and children, ensuring they live dignified and fulfilling lives, provide holistic support to widows and children, empowering them to overcome poverty, inequality, and social injustice.
              </p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>How can prospective donors make donations?</span></h3>
                <div class="faq-content">
                  <p>Prospective donors can make donations to the charity foundation through online payments to foundation held accounts or through cash payments.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">2.</span> <span>How can palliatives be donated for the needy?</span></h3>
                <div class="faq-content">
                  <p>Well meaning donors that desire giving out palliatives to the needy, can donate palliatives of different kinds for the welfare of the persons in need.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>How can i help widows reach out to the foundation?</span></h3>
                <div class="faq-content">
                  <p>Widows and children of widows are the main benefactors of this foundation, we devise and have hotlines that are displayed and always connected to enable easy communication.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">4.</span> <span>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</span></h3>
                <div class="faq-content">
                  <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->


            </div>

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->



    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 2">
            <img src="{% static 'assets/img/partner.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 content">
            <h3>Partners are highly Valued at Joy Inspired Foundation</h3>
            <p class="fst-italic">
    
              Joy Inspired Administration always appreciate and welcome prospective partners. Our Partners help provide holistic support to widows and children, empowering them to overcome poverty, inequality, and social
              injustice. Also mobilize resources, including funding, materials, expertise in order to support our programs.
            </p>
            <!-- <ul>
              <li><i class="bi bi-check2-all"></i> <span> We demonstrate empathy and kindness towards widows and children.</span></li>
              <li><i class="bi bi-check2-all"></i> <span> We operate with transparency, accountability, and honesty.</span></li>
              <li><i class="bi bi-check2-all"></i> <span> We value the dignity and worth of every widow and child. We strive to equip widows and children with the skills and resources they need to thrive.</span></li>
            </ul> -->
            <p>
              Also, collaborate with local organizations, government agencies and stakeholders to amplify our impact. We will also establish a robust monitoring and evaluation framework
              to track our progress, assess our impact and make data-driven decisions.
            </p>

            <div class="text-center"><a href="{% url 'partner_form' %}" class="buy-btn"><strong>Partner with us NOW!</strong></a></div>
          </div>
        </div>

      </div>

  </section><!-- /About Section -->


   <!-- Contact Section -->
   <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Please contact us at your convenience</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
        <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.647770190178!2d3.272103674046145!3d6.566064922669162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8fe19794e75f%3A0xba8baff6b8f26e49!2sSubol%20Hospital%20Limited!5e0!3m2!1sen!2sng!4v1736758995363!5m2!1sen!2sng" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->
      

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>A108 Adam Street, Abuja, NGA </p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+234 8153 7345 06</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>joyinspired@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->


  
{% endblock %}